@media screen and (max-device-width: 768px){
header{
  background-image: url('../img/bg.png');
	max-width: 768px;
	width: 100%;
	height: 803px;
	background-size: cover;
	background-repeat: no-repeat;
}
.b-header{
height: 241px;
}
 nav.b-nav{
float: left;
padding-top: 68px;
margin-left:-45px;
}
.nav_element{
vertical-align: none;
margin-left:46px;
}
.slider_conteiner{
width: 285px;
<<<<<<< HEAD
height: 178px;
=======
height: 183px;
>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
margin-top: 108px;
padding-left: 22px;
overflow:hidden; 
}
.iphone{
margin-left: 298px;
margin-top: -313px;
margin-bottom: 21px;
}
.slider_text{
    font-size: 49px;
 }
.slider_text2 {
<<<<<<< HEAD
font-size: 16px;
font-weight: 300;
line-height: 24px;
=======
    font-size: 16px;
    line-height: 26px;
>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
   }
.slider_text1{
    font-size: 24px;
 }
.slider_text1__1{
	display: none;
}
.slider_selection{
margin-left: 523px;
margin-top:2px;

}
.col{
<<<<<<< HEAD
width: 205px;
height: 200px;
padding-left: -22px;
height: 201px;
text-align: left;
padding-left: 20px;
padding-top: 0;
text-align: left;
=======
width: 31.333333%;
padding-left: -20px;
height: 280px;

>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
}
.col br{
display:none;
}
.col_a_1{
padding-left:134px;
font-size: 18px;
display: inline;
}
.col_a_2{
width: 54px;
height: 10px;
position: absolute;
padding-left:148px;
text-decoration: none;
text-align: left;
display: inline-block;
}
.col .col_a_2{
width: 54px;
height: 10px;
}
.col_a_3{
padding-left:148px;
text-decoration: none;
}
.col_h1{
font-size: 23px;
<<<<<<< HEAD
margin-top: 79px;
padding-left: 43px;
padding-bottom: 11px;
}
.col_h2{
margin-top: 79px;
padding-left: 72px;
padding-bottom: 5px;
font-size: 24px;
font-weight: 400;
line-height: 24px;
}
.col_h3{
	font-size: 23px;
=======
margin-top: 72px;
padding-left: 63px;
padding-bottom: 11px;
}
.col_h2{
font-size: 25px;
    margin-top: 72px;
    padding-left: 72px;
    padding-bottom: 11px;
}
.col_h3{
	font-size: 24px;
>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
    margin-top: 70px;
    margin-right: 10px;
    padding-bottom: 5px;
}
.col_h1_l1 {
    padding-left: 6px;
}
.col_h1_l2 {
    margin-left: -1px;
}
<<<<<<< HEAD
.col_p{
width: 153px;
height: 115px;
overflow:hidden;
margin-bottom:3px;
padding-left:44px;
margin-top: -6px;
}
.col_p1{
width: 153px;
height: 115px;
overflow:hidden;
padding-left: 71px;
}
.col_p2{
width: 153px;
height: 109px;
overflow:hidden;
}
#sprite{
margin-left:-10px;
}
.row{
height: 342px;
}
=======
>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
.main_row{
width: 41%;
margin-top: 101px;
margin-left: 23.6px;
overflow:hidden;
float:left;
}
.main_photo {
 margin-top: 119px;
 margin-left: -1px;
}
.main_title{
width: 163px;
font-size: 24px;
padding-top: 30px;
padding-bottom: 33px;
}
.main_title3{
padding-left: 0px;
}
.main_row1{
width: 48.5%;
margin-top: 142px;
}
.main_p{
width: 260px;
font-size: 16px;
line-height: 24px;
height:139px;
overflow:hidden;
}
main br{
display:none;
}
.main_wraper2{
padding-left:63px;
}
.main_wraper3{
padding-left:63px;
}
.main_wraper4{
padding-left:63px;
}
.slider_selection2{
margin-left:140px;
}
.brend1{
margin-left:4px;
}
.brend2{
margin-left:44px;
<<<<<<< HEAD
}
.brend3{
margin-left: 51px;
}
=======
}
.brend3{
margin-left: 51px;
}
>>>>>>> 77cf8b8770a5bde78a25c9abee65b49be1b29c59
.brend4{
margin-left: 55px;
}
.brend5{
margin-left: 30px;
}

.brend6 {
width: 78px;
height: 61px;
margin-left: 189px
}
 .container_main2 br{
display:none;
}
footer{
height: 160px;
}
.footer_element.footer_row8{
margin-left: 620px;
padding-top:40px;
}  
 #sprite1 .cloud{
 background-position:0 0px;
 }
 #sprite2 .note{
 background-position:0 0px;
 }
 .main_text{
font-size: 12px;
display: inline-block;
vertical-align: top;
width: 33.333333333333336%;
}
 .main_text1_1{
display:none;
}
.main_text2{
display:none;
}
.main_text4{
display:none;
}
 .content_1:before{
content:"NEWS CATEGORIES";
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
}
.content_2:before{
content:"NEWS CATEGORIES";
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
}
.container_row{
	margin-top: 102px;
}

}



