@media screen and (max-width: 480px) and (min-width: 320px){
  html {
      -webkit-text-size-adjust: none;
   }
   
header{
  background-image: url('../img/bg.png');
	max-width: 480px;
	width: 100%;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	float:none;
}
.container{
  max-width: 480px;
  margin: 0 auto;
  height: auto;
  overflow: hidden;
}

main{
float:none;
}
img {
  width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.b-header{
height: 200px;
}
.logo{
font-family: LeagueGothicRegular, 'Sans Serif', Arial;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: -1px 1px 1px #9c9193;
  padding-top: 70px;
  letter-spacing: -1px;
  margin-left: 38%;
    margin-bottom: -2px;
}
.logo_after1{
  background: -webkit-linear-gradient(0deg, #33263a 0%, #745083 100%);
  background: -moz-linear-gradient(0deg, #33263a 0%, #745083 100%);
  background: -ms-linear-gradient(0deg, #33263a 0%, #745083 100%);
  background: linear-gradient(0deg, #33263a 0%, #745083 100%);
    -webkit-background-clip: text; 
    color: transparent;
    text-shadow: none;
}
.clearfix{
  clear: both;
  overflow: hidden;
}

.nav{
  width: 245px;
  margin:0 auto;
  z-index: 100;
  padding: 5px; 
  height: 25px;
  overflow:hidden;
  transition: all 0.4s;
  margin-left:169px;
  position:absolute;

}
.nav:hover{
 height: auto;
 background:#3e3147;
 border-radius:25px;
 opacity: 0.9;
background-color: #36293e;
border: 1px solid #051116;
box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.nav li {
  display: block;
  margin:0;
  margin-bottom: 10px;
  text-align: center;
}
.nav_element{
border-bottom:1px solid #523e5a;
}
.menu_top li:hover{
width: 244px;
height: 39px;
opacity: 0.3;
  background-color:#2b2231; 
border-bottom:1px solid #edbfff;
}

.iphone{
display: none;
/*width:35%;
margin-top:-210px;
margin-left:290px;
background-image: url(img/Iphone.png);
background-repeat: no-repeat;
z-index: 70;
height: auto;*/
}
.iphone480{
width: 192px;
height: 304px;
position: absolute;
}
.slider{
height:230px;

}
.slider_selection{
position: relative;
overflow: hidden;
margin-left: 240px;
margin-top:10px;
padding-bottom: 40px;
}

.slider_text{
font-size: 36px;
font-weight: 400;
line-height: 36px;
}
.slider_text1{
font-size: 18px;
}
 .slider_text2{
display:none;
}

article{  
height:auto;
float: none;
    }
	
.article{
    height: 700px;
    }
 #sprite1 .cloud{
 background-position:0 0px;
 }
 #sprite2 .note{
 background-position:0 0px;
 }
.col{
position: relative;
display:block;
vertical-align: top;
width:auto;
height:100%;
padding-top: -2px;
padding-left:10px;
margin-bottom:-5px;
}
.col br{
  display: none;
}
main{
height: 90%;
}
.main_row{
float: none;
width: 85%;
height: 280px;
overflow:visible;
margin-top: 50px;
margin-left: 23.6px;
}
.main_row1{
  float: none;
  width: 480px;
  margin-top: 60px;
  margin-left: 35px;
 }
 .main_p1{
width: 257px;
height: 20px;
overflow: hidden;
}
.main_p2{
width: 257px;
height: 20px;
overflow: hidden;
}
.main_p3{
width: 257px;
height: 20px;
overflow: hidden;
}
.main_link {
display: block;
width: 100px;
height: 14px;
margin-left: 265px;
margin-top:-20px;
padding-bottom:93px;
}
.slider_selection2{
position: none;
width: 100px;
height: 19px;
overflow: hidden;
margin-top:20px;
margin-left:198px;
}
.brend_wraper{
height: 233px;
}
.brend_conteiner{
position: relative;
margin-top: 2px;
width: auto;
height: auto;
}
.brend_wraper a{
width: 72px;
height: 75px;
}
.brend1{
margin-left:65px;
}
.container_row{
margin:0;
padding:0;
}
.container_main2{
height: 700px;
}
.main_text{
display: block;
width: 100%;
}
.main_text1_1{
display:none;
}
.main_text2{
display:none;
}
.main_text4{
display:none;
}
.content_1:before{
content:"NEWS CATEGORIES";
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
}
.content_2:before{
content:"NEWS CATEGORIES";
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
}

footer{
height: 200px;
}
.footer_row {
height: 100%;
position:relative;
}
.footer_row1{
padding-left: 1px;
}
.footer_row2{
padding-left: 20px;
}
.footer_row3{
padding-left: 20px;
}
.footer_row4{
padding-left: 20px;
}
.footer_row5{
padding-left: 5px;
}
.footer_row5_1{
padding-left: -3px;
}
.footer_row6{
padding-left: 20px;
}
.footer_row8 {
margin-left: 180px;
padding-top:15px;
float: none;
position:absolute;
}

