.b-nav{
float: right;
margin-top: -200px;
margin-left: 300px;
margin-bottom: 30px;
}
}
.nav{
  width: 200px;  
  z-index: 15;
  border-radius: 10px;
  height: 25px;
   overflow:hidden;
  position: absolute;
  
}
.nav:hover{
  height: auto;
   background: #3e3147;
   transition: all 0.6s;
}
.nav li{
display: block;
margin-bottom: 7px;
text-align: center;
}
nav.b-nav {
    float: none;
    padding-top: 50px;
    margin-left: 140px;
  }
.nav_element{
margin-left:10px;
margin-bottom: 40px;
}
nav.nav {
margin-bottom: 40px;
}