*{
	margin: 0;
	padding: 0;
}
body{
font-family: "Arial",sens-serif;
padding: 0;
margin:0;
}
header{
height: 850px;
background-image: url(img/bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #e3e3e3;
border-bottom:1px solid #33253a;
}
.header_top{

}
.container{
max-width:960px;
width: 100%;
margin: 0 auto;
}
.logo{
display: block;
max-width: 152px;
padding-top: 70px;
padding-bottom: 172px;
width: 100%;
height: 36px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
color: white;
font-family:LeagueGothicRegular;
font-size: 48px;
font-weight: 400;
line-height: 34px;
}
.logo_after{
width: 29px;
height: 36px;
background: linear-gradient(0deg, #33263a 0%, #‎‎745083 100%);
  -webkit-background-clip: text; 
  color: transparent;
font-family:LeagueGothicRegular;
font-size: 48px;
font-weight: 400;
line-height: 34px;
}
nav{
float: right;
margin-top: -210px;
}
.nav{
margin:0;
padding:0;
}
.nav_element{
margin:0;
padding:0;
list-style: none;
display: inline-block;
vertical-align: middle;
margin-left: 45px;
}
.menu_top{
color: #fff;
text-decoration: none;
text-transform:uppercase;
text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
color: white;
font-family: LeagueGothicRegular;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-transform: uppercase;
}
.menu_top:hover{
border-bottom: 3px solid #edbfff;
}
.slider{
height: 400px;
background: rgba(0, 0, 0, .2);
}
.slider_element{
float: left;
}
.slider_text{
color: #fefefe;
font-family: LeagueGothic;
font-size: 60px;
font-weight: 400;
line-height: 36px;
}
.slider_text1{
color: #edbfff;
font-family: LeagueGothic;
font-size: 32px;
font-weight: 400;
line-height: 36px;
}
.slider_text2{
color: white;
font-family: OpenSans;
font-size: 18px;
font-weight: 300;
line-height: 30px;
}
.slider_conteiner{
width:55%;
overflow: hidden;
}
.iphone{
width: 20%;
padding-right: 78px;
float: right;
background-image: url(img/Iphone.png);
background-repeat: no-repeat;
}

*{
	margin: 0;
	padding: 0;
}
body{
font-family: "Arial",sens-serif;
padding: 0;
margin:0;
}
header{
height: 850px;
background-image: url(img/bg.png);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #e3e3e3;
}
.header_top{

}
.container{
max-width:960px;
width: 100%;
margin: 0 auto;
}
.logo{
padding-top: 70px;
padding-bottom: 169px;
width: 120px;
height: 36px;
text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
color: white;
font-family:LeagueGothicRegular;
font-size: 48px;
font-weight: 400;
line-height: 34px;
}
.logo_after{
width: 29px;
height: 36px;
background: linear-gradient(0deg, #33263a 0%, #‎‎745083 100%);
  -webkit-background-clip: text; 
  color: transparent;
font-family:LeagueGothicRegular;
font-size: 48px;
font-weight: 400;
line-height: 34px;
}
nav{
float: right;
margin-top: -210px;
}
.nav{
margin:0;
padding:0;
}
.nav_element{
margin:0;
padding:0;
list-style: none;
display: inline-block;
vertical-align: middle;
margin-left: 45px;
}
.menu_top{
color: #fff;
text-decoration: none;
text-transform:uppercase;
text-shadow: 1px 1.7px 2px rgba(0, 0, 0, 0.4);
color: white;
font-family: LeagueGothicRegular;
font-size: 24px;
font-weight: 400;
line-height: 34px;
text-transform: uppercase;
}
.menu_top:hover{
border-bottom: 3px solid #edbfff;
}
                                           /*slider*/
.slider{
height: 400px;
background: rgba(0, 0, 0, .2);
}
.slider_element{
float: left;
}
.slider_text{
color: #fefefe;
font-family:LeagueGothicRegular;
font-size: 60px;
font-weight: 400;
line-height: 36px;
}
.slider_text1{
color: #edbfff;
font-family: LeagueGothicRegular;
font-size: 32px;
font-weight: 400;
line-height: 36px;
}
.slider_text2{
color: white;
font-family:OpenSansLight;
font-size: 18px;
font-weight: 300;
line-height: 30px;
}
.slider_conteiner{
width:55%;
overflow: visible;
margin-top: 91px;
margin-left: 0.1%;
}
.iphone{
width: 20%;
padding-right:148px;
margin-top:-367px;
float: right;
background-image: url(img/Iphone.png);
background-repeat: no-repeat;
}
.slider_text_title1{
margin-left: -1.2%;
}
.slider_text_title{
margin-left: -1.1%;
}
                                                 /*radio*/
.slider_selection{
width: 83px;
height: 17px;
overflow: hidden;
margin-left: 715px;
margin-top:93px;

}
.slider_selection input[type="radio"]{
	display: none;
}
 .slider_selection label{
    width: 17px;
    height: 17px;
    display: inline-block;
  }
.slider_selection label.no_checked{
background-color: black;
opacity: 0.3;
-moz-border-radius: 8.5px;
-webkit-border-radius: 8.5px;
border-radius: 8.5px;

}
.slider_selection input[type="radio"]:checked+label{
width: 11px;
height: 11px;
background-image: linear-gradient(to top, #d4d4d4 0%, white 100%);
border: 3px solid black;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
                                               /*radio*/
                                              /*slider*/
                                              /*article*/
.article{
  margin-top:-9px;
	height: 342px;
	background-image: linear-gradient(to top, #322539 0%, #745083 100%);
	}
 
.row{
font-size: 0;
}
.col{
position: relative;
font-size: 16px;
display: inline-block;
vertical-align: top;
width:320px;
padding-left: -10px;
padding-top: 8px;
}
.row a{
width: 54px;
height: 14px;
text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
color: white;
font-family: LeagueGothic;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
.col_p{
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: OpenSansLight;
font-size: 16px;
font-weight: 300;
line-height: 24px;
padding-bottom: 31px;
padding-left:63px;
margin-top: -6px;
margin-bottom:-15px;
}
.col_p1{
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: OpenSansLight;
font-size: 16px;
font-weight: 300;
line-height: 24px;
padding-bottom: 34px;
padding-left:82px;
margin-bottom: -16px;
}
.col_p2{
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: OpenSansLight;
font-size: 16px;
font-weight: 300;
line-height: 24px;
padding-bottom: 40px;
margin-left: 94px;
margin-bottom: -24px;
}
.col_h1{
width: 200px;
height: 22px;
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
padding-bottom: 20px;
margin-top:72px;
padding-left:64px;
}
.col_h1_l1{
padding-left:3px;
}
.col_h1_l2{
margin-left:-3px;
}
.col_h2{
width: 200px;
height: 22px;
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
padding-bottom: 12px;
margin-top:72px;
padding-left:84px;
}
.col_h2_l1{
margin-left:2px;
}
.col_h2_l2{
margin-left:-2px;
}
.col_h3{
width: 200px;
height: 22px;
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
padding-bottom: 11px;
margin-top:74px;
padding-left:100px;
}
.col_h3_l1{
margin-left:-2px;
}
.col_h3_l2{
margin-left:-3px;
}
.col a{
width: 54px;
height: 14px;
text-shadow: 0.5px 0.9px 0 #0f1518;
color: white;
font-family: LeagueGothicRegular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
.col_a_1{
padding-left:225px;
}
.col_a_2{
padding-left:247px;
}
.col_a_3{
padding-left:263px;
}
.col a:hover{
text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}
/* sprite*/
#sprite{
float: left;
position: relative;
overflow: hidden;
width: 33px;
height: 29px;
margin-left:11px;
}
#sprite li{
margin:0;
padding:0;
list-style:none;
top:0;
float: left;
}
#sprite a{
display: block;
width: 27px;
height: 27px;
background: url(img/sprite.png) 0 0 no-repeat;
}
#sprite .key{
background-position:0 0;
width: 33px;
height: 31px;
}
#sprite .cloud{
background-position:0 -41px;
  width: 33px;
  height: 29px;
  position: absolute;
   }
#sprite .note{
background-position: 0 -80px;
  width: 29px;
  height: 31px;
}
.col ul{
position: absolute;
margin-top:78px;
}
/* sprite*/
/* sprite1*/
#sprite1{
float: left;
position: relative;
overflow: hidden;
width: 33px;
height: 29px;
margin-left:25px;
}
#sprite1 li{
margin:0;
padding:0;
list-style:none;
top:0;
float: left;
}
#sprite1 a{
display: block;
width: 27px;
height: 27px;
background: url(img/sprite.png) 0 0 no-repeat;
}
#sprite1 .key{
background-position:0 0;
width: 33px;
height: 31px;
}
#sprite1 .cloud{
background-position:0 -41px;
  width: 33px;
  height: 29px;
  position: absolute;
   }
#sprite1 .note{
background-position: 0 -80px;
  width: 29px;
  height: 31px;
}
.col ul{
position: absolute;
margin-top:78px;
}
/* sprite1*/
/* sprite2*/
#sprite2{
float: left;
position: relative;
overflow: hidden;
width: 33px;
height: 29px;
margin-left:45px;
margin-top:74px;
}
#sprite2 li{
margin:0;
padding:0;
list-style:none;
top:0;
float: left;
}
#sprite2 a{
display: block;
width: 27px;
height: 27px;
background: url(img/sprite.png) 0 0 no-repeat;
}
#sprite2 .key{
background-position:0 0;
width: 33px;
height: 31px;
}
#sprite2 .cloud{
background-position:0 -41px;
  width: 33px;
  height: 29px;
  position: absolute;
   }
#sprite2 .note{
background-position: 0 -80px;
  width: 29px;
  height: 31px;
}
.col ul{
position: absolute;
margin-top:78px;
}
                              /* sprite2*/
                                                        /*main*/
main{
position: relative;
height: 488px;
background-color: #f9f9f9;
position: relative;
}
.main_row{
position: relative;
float: left;
width: 480px;
overflow:hidden;
position: relative;
margin-top: 101px;
height: 272px;
margin-left: 25px;
}
.main_row1{
 margin:0;
 padding:0;
}
.main_row1{
  float: right;
  width: 480px;
  float: right;
  margin-top: 133px;
}
.main_title3{
display: inline-block;
width: 145px;
height: 22px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 30px;
font-weight: 400;
line-height: 24px;
margin-bottom:20px;
padding-left:31px;
}
.main_wraper2{
position: relative;
width: 365px;
height: 41px;
padding-left:97px;
margin-bottom: 25px;
}
.main_wraper3{
position: relative;
width: 365px;
height: 41px;
padding-left:97px;
margin-bottom: 24px;
}
.main_wraper4{
position: relative;
width: 365px;
height: 41px;
padding-left:97px;
margin-bottom: 30px;
}
.main_h{
font-weight: 700;
width: 365px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family:OpenSansLight;
font-size: 16px;
line-height: 24px;

}
.main_h1{
font-weight: 700;
width: 365px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family:OpenSansLight;
font-size: 16px;
line-height: 24px;
}
.main_h2{
font-weight: 700;
width: 365px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family:OpenSansLight;
font-size: 16px;
line-height: 24px;
}
.main_p1{
font-weight: 300;
width: 390px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family:OpenSansLight;
font-size: 16px;
line-height: 24px;

}
.main_p2{
font-weight: 300;
width: 390px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: OpenSansLight;
font-size: 16px;
line-height: 24px;

}
.main_p3{
font-weight: 300;
width: 390px;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: OpenSansLight;
font-size: 16px;
line-height: 24px;
}
.main_link {
display: block;
width: 100px;
height: 14px;
margin-left: 377px;
}
.main_link a{
width:100px;
height: 14px;
text-decoration:none;
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: LeagueGothicRegular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
}
.edit_text{
margin-left: -3px;
}
.edit_text1{
padding-left:7px;
padding-right: 7px;
letter-spacing: 1.2px;
}
.edit_text2{
padding-left:6px;
padding-right: 7px;
letter-spacing: 1.1px;
}
.edit_text3{
padding-left:-5px;
padding-right:3px;
letter-spacing: -1px;
}
.edit_text4{
padding-left:-12px;
padding-right: 3px;
letter-spacing: -1px;
}
.edit_text6{
padding-left:-2px;
padding-right: 3px;
letter-spacing: 0.1px;
}
.edit_text7{
padding-left:-1px;
padding-right: 7px;
letter-spacing: -1px;
}
.main_photo1{
position: absolute;
width: 49px;
height: 49px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
background-color:#387375;
margin-left: -65px;
border-radius: 100px;
margin-top: 1px;
}
.main_photo2{
  position: absolute;
width: 49px;
height: 49px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
background-color:#387375;
margin-left: -64px;
border-radius: 100px;
margin-top: 1px;
}
.main_photo3{
  position: absolute;
width: 49px;
height: 49px;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
background-color:#387375;
margin-left: -64px;
border-radius: 100px;
margin-top: 1px;
}
                                              /*----------------*/
.main_wraper{
width: 427px;
height: 272px;
background-color: #ffffff;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
background-image:url(../img/Layer 6.png) no-repeat;

}
.main_title{
color: #454545;
font-family: LeagueGothicRegular;
width: 414px;
height: 22px;
text-shadow: 0.5px 0.9px 0 white;
font-size: 30px;
font-weight: 400;
line-height: 24px;
text-transform: uppercase;
padding-top: 31px;
padding-left: 38px;
padding-bottom: 13px;
}
.main_title1{
color: #edbfff;
font-family: LeagueGothicRegular;
display: inline-block;
}
.main_title11{
margin-left: -2px;
}
.main_p{
text-shadow: 0.5px 0.9px 0 white;
color: #454545;
font-family: OpenSansLight;
font-size: 16px;
font-weight: 300;
line-height: 24px;
padding-left: 40px;
}
.main_p_1{
margin-left:-3px;
}
.main_p_2{
margin-left:-3px;
margin-right: 1px;
}
.main_p_3{
margin-left:-3px;
}
.main_p_4{
margin-left:-2px;
}
.main_p_5{
margin-left:-3px;
}
.main_p_6{
margin-left:-2px;
padding-right: 2px;
}
.main_p_7{
margin-left:-2px;
padding-right: -1px;
}

.main_row{
position: relative;
width: 427px;
height: 272px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
background-image: url(img/Layer 60.png);
z-index:1;
}
.main_photo{
position:absolute;
width: 49px;
height: 49px;
box-shadow: 1px 1.7px 0 white, inset 1px 1.7px 5px rgba(0, 0, 0, 0.3);
border-radius: 100px;
margin-top: 118px;
margin-left:2px;
z-index:2;
}



                                                 /*radio*/
.slider_selection2{
position: absolute;
width: 100px;
height: 19px;
overflow: hidden;
margin-top:396px;
margin-left:196px;
}
.slider_selection2 input[type="radio"]{
  display: none;
}
 .slider_selection2 label{
    width: 17px;
    height: 17px;
    display: inline-block;
    margin-top: -3px;

}
.slider_selection2 label.no_checked2{
background-color: #ffffff;
-moz-border-radius: 8.5px;
-webkit-border-radius: 8.5px;
border-radius: 12px;
border: 1px solid #e6e6e6;
box-shadow: 1px 1.7px 0 white;
}
.slider_selection2 input[type="radio"]:checked+label{
width: 11px;
height: 11px;
background-image: linear-gradient(to top, #454545 0%, #6a6a6a 100%);
border: 1px solid #454545;
}
                                               /*radio*/
                                               /*main*/

                                               /*brend*/
.brend_wraper{
height: 120px;
background-color: #f9f9f9;
border-top: 1px solid #e6e6e6;
}
.brend_conteiner{
position: relative;
margin-top: 2px;
width: 900px;
height: 75px;
}
.brend_wraper a{
width: 72px;
height: 75px;
display: inline-block;

}
.brend1{
width: 69px;
height: 75px;
margin-left: 95px;
}
.brend2{
width: 72px;
height: 64px;
margin-left: 55px;
margin-top: 22px;
}
.brend3{
width: 63px;
height: 64px;
margin-left: 61px;
border-radius:5px;
margin-top: 22px;
}
.brend4{
width: 50px;
height: 63px;
margin-left:67px;
margin-top: 22px;
}
.brend5{
position: absolute;
width: 103px;
height: 21px;
margin-left:40px;
margin-top: 42px;
}
.brend6 {
width: 78px;
height: 61px;
margin-left:206px;
}
                                               /*brend*/
                                                /*main2*/
.container_main2{
height: 400px;
background-color: #ececec;
border-top: 1px solid #d8d8d8;
}
.container_row{
font-size: 0;
margin-top: 100px;
}
.main_text{
font-size: 16px;
display: inline-block;
vertical-align: top;
width: 33.333333333333336%;
}







                                                 /*main2*/


